{% extends 'base.html' %}

{% block head %}

<!-- Import Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-center">Add New Movie</h2>
                <br>
                <div class="form-group">
                    <label for="name">Movie Name:</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter movie name">
                </div>
                <div class="form-group">
                    <label for="desc">Movie Description:</label>
                    <input type="text" class="form-control" name="desc" id="desc" placeholder="Enter movie description">
                </div>
                <div class="form-group">
                    <label for="year">Movie Year:</label>
                    <input type="number" class="form-control" name="year" id="year" placeholder="Enter movie year">
                </div>
                <div class="form-group">
                    <label for="img">Movie Poster:</label>
                    <input type="file" class="form-control-file" name="img" id="img">
                </div>
               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}



